/* https://coolors.co/aebd93-bee7b8-95969d-81523f-3f2a2b */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-primary: #febe98;
  --bg-secondary: #522a28;
  --bg-sage: #aebd93;
  --bg-celadon: #bee7b8;
}

label {
  @apply text-[var(--bg-secondary)] hover:text-[var(--bg-primary)] transition-all;
}

.logo {
  @apply text-[var(--bg-primary)];
}

.logoText {
  @apply text-[var(--bg-secondary)];
}

.user-cover-edit-container {
  @apply relative h-48 p-2 rounded-lg mb-12;
}

.user-avatar-edit-container {
  @apply absolute left-10 top-36 bg-gray-300 size-24 rounded-full p-1;
}

.userAvatar {
  @apply text-[var(--bg-secondary)] bg-[var(--bg-primary)];
}

.userFormInput input,
textarea {
  @apply rounded-md;
}

.amountBtn {
  @apply rounded-full size-8 border justify-center inline-flex items-center hover:bg-[var(--bg-celadon)] transition-all;
}

input[type="text"] {
  @apply rounded-md focus:invalid:ring-pink-500 focus:invalid:border-pink-500  invalid:border-pink-500 invalid:text-pink-600;
}

button.amount.active {
  @apply bg-[var(--bg-celadon)];
}

.support-btn {
  @apply w-full rounded-lg bg-[var(--bg-celadon)] p-2 font-semibold;
}
