@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-primary: #febe98;
  --bg-secondary: #522a28;
}

label {
  @apply text-[var(--bg-secondary)] hover:text-[var(--bg-primary)] transition-all;
}

.logo {
  color: var(--bg-primary);
}

.logoText {
  color: var(--bg-secondary);
}

.userAvatar {
  color: var(--bg-secondary);
  background-color: var(--bg-primary);
}

.userFormInput input,
textarea {
  @apply rounded-md;
}
